<ul class="{{ params.moduleclass_sfx }}">
  {% for item in data.list %}
    {% set attribs = item.browserNav ? 'target="_balnk"' : "" %}
    <li>
      {% set classes = item.params.get("menu-anchor_css") ~ (item.id == data.active.id ? " active" : "") %}

      {% if item.flink %}
        <a href="{{ item.flink }}" class="{{ classes }}" title="{{ item.title }}" {{ attribs }}>
          {{ item.title }}
        </a>

      {% else %}
        <button class="{{ classes }}" title="{{ item.title }}" {{ attribs }} >
          {{ item.title }}
        </button>
      {% endif %}

      {% if item.deeper %}
        <ul class="submenu">
        {% elseif item.shallower %}
          {% for i in range(1, item.level_diff) %}
          </ul>
        </li>
      {% endfor %}
  {% else %}
    </li>
  {% endif %}
</li>{% endfor %}</ul>

