{% do jdoc.addScript(jhash("templates/pistacja/modules/feedback.js")) %}
{% do jdoc.addStyleSheet(jhash("templates/pistacja/css/feedback.css")) %}

<div class="pie-feedback-form">
	<div class="pie-content">

		<div class="pie-contact-bubbles">
			<a href="./kontakt" class="pie-contact-bubbles-green">
				<span>Zgłoś uwagi,<br/>podziel się swoją opinią</span>
			</a>
			<a href="./feedback" class="pie-contact-bubbles-yellow active">
				<span>Opisz, jak wykorzystujesz<br/>Pi-stację na lekcjach</span>
			</a>
		</div>

		<form id="contact-form" class="contact__form" action="{{ jroute('index.php') }}" method="post">

			<h3 class="KGSolid">{{ jtext('COM_CONTACT_GENERAL_HEADER') }}</h3>
			<hr class="space">

			<div
				class="pie-feedback-form-columns">

				{# Inputs #}

				<div>
					<div class="pie-input-container">
						{{ view.form.getLabel('contact_name')|raw }}
						<input required class="pie-input" type="text" id="jform_contact_name" name="jform[contact_name]" placeholder="{{ jtext('COM_CONTACT_CONTACT_NAME_DESC') }}">
					</div>
					<div class="pie-input-container">
						{{ view.form.getLabel('contact_email')|raw }}
						<input required class="pie-input" type="email" id="jform_contact_email" name="jform[contact_email]" placeholder="{{ jtext('COM_CONTACT_EMAIL_DESC') }}">
					</div>
					<div class="pie-input-container">
						{{ view.form.getLabel('contact_school_address')|raw }}
						<input required class="pie-input" type="text" id="jform_contact_school_address" name="jform[contact_school_address]" placeholder="{{ jtext('COM_CONTACT_SCHOOL_ADDRESS_DESC') }}">
					</div>
				</div>

				{# Dropdowns #}

				<div>
					<div class="pie-feedback-form-dropdown">
						{{ view.form.getLabel('contact_school_subject')|raw }}
						<div class="pie-chalk-select" data-custom-select="jform[contact_school_subject]" data-selected-index="0">
							{% for item in subjects %}
								<button data-option="{{ item.subject_title }}">
									{{ item.subject_title }}
								</button>
							{% endfor %}
						</div>
					</div>
					<div class="pie-feedback-form-dropdown">
						{{ view.form.getLabel('contact_school_level')|raw }}
						<div class="pie-chalk-select" data-custom-select="jform[contact_school_level]" required>
							{% for item in levels %}
								<button data-option="{{ item.level_title }}">
									{{ item.level_title }}
								</button>
							{% endfor %}
						</div>
					</div>
					<div class="pie-feedback-form-dropdown">
						{{ view.form.getLabel('contact_school_voivodeship')|raw }}
						<div class="pie-chalk-select" data-custom-select="jform[contact_school_voivodeship]" required>
							{% for voivodeship in voivodeships %}
								<button data-option="{{ voivodeship }}">
									{{ voivodeship }}
								</button>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<h3 class="KGSolid">{{ jtext('COM_CONTACT_QUESTIONS_HEADER') }}</h3>
			<hr class="space">

			<div class="pie-feedback-form-columns">
				<div>
					<div class="pie-input-container">
						{{ view.form.getLabel('contact_school_question1')|raw }}
						<input required class="pie-input" type="text" id="jform_contact_question1" name="jform[contact_school_question1]">
					</div>

					<div class="pie-input-container">
						{{ view.form.getLabel('contact_school_question2')|raw }}
						<span class="info">{{ jtext('COM_CONTACT_CONTACT_ENTER_QUESTION2_DESC') }}</span>
						<textarea class="pie-input" cols="30" rows="10" required id="jform_contact_question2" name="jform[contact_school_question2]"></textarea>
					</div>

          <div class="pie-rail">							
            <span class="pie-checkbox">
              <input id="jform_contact_future-lbl" name="jform[contact_school_future]" type="checkbox">
              <span class="tick"></span>
            </span>
            {{ view.form.getLabel('contact_school_future')|raw }}
          </div>					

          <hr class="space">
					<h3 class="KGSolid">Dziękujemy</h3>
					<div class="pie-feedback-form-separator"></div>

          {# Newsletter #}      
          <div class="pie-input-container pie-newsletter">
            <h3 class="KGSolid text-green">{{ jtext('PLG_CONTENT_FRESHMAILSUBSCRIBE_SUBSCRIBE_LABEL') }}</h3>
            <hr class="space small">       
            <div>Zaznacz przedmioty, dla których chcesz otrzymywać powiadomienia</div>
            <hr class="space">       

            <div class="subjects-grid">

              <label for="jform-subjects-math" class="subject-box">   
                <input id="jform-subjects-math" name="jform[subjects][math]" type="checkbox" value="1">            
                <img src="./templates/pistacja/images/icons/math.svg"/>         
                <span>Pi-stacja Matematyka</span>
              </label>

              <label for="jform-subjects-chem" class="subject-box">            
                <input id="jform-subjects-chem" name="jform[subjects][chem]" type="checkbox" value="1">            
                <img src="./templates/pistacja/images/icons/chem.svg"/>    
                <span>Pi-stacja Chemia</span>
              </label>

              <label for="jform-subjects-phys" class="subject-box">            
                <input id="jform-subjects-phys" name="jform[subjects][phys]" type="checkbox" value="1">            
                <img src="./templates/pistacja/images/icons/fiz.svg"/>    
                <span>Pi-stacja Fizyka</span>
              </label>

              <label for="jform-subjects-biol" class="subject-box">      
                <input id="jform-subjects-biol" name="jform[subjects][biol]" type="checkbox" value="1">            
                <img src="./templates/pistacja/images/icons/biol.svg"/>          
                <span>Pi-stacja Biologia</span>
              </label>
            </div>  
          </div>  

					{# RODO #}
					<div class="pie-input-container">
						<strong>{{ jtext("COM_CONTACT_RODO_TEXT")|raw }}</strong>
						<hr class="space small">
						<div class="pie-contact-rodo">
							<span class="pie-contact-toggle">
								<label class="pie-switch">
									<input id="consent" name="consent" type="checkbox" required>
									<span class="slider"></span>
								</label>
							</span>
							<div>
								{{ jtext("COM_CONTACT_CONSENT")|raw }}
							</div>
						</div>
					</div>

					<div class="pie-input-container">
						<div class="controls">{{ view.form.getInput('captcha')|raw }}</div>
					</div>

					<div class="pie-input-container">
						<button type="submit" class="pie-contact-submit-button bubble-button black cover" disabled>{{ jtext('COM_CONTACT_CONTACT_SEND') }}</button>
						<input type="hidden" name="option" value="com_contact"/>
						<input type="hidden" name="task" value="contact.submit"/>
						<input type="hidden" name="layout" value="{{ layout }}"/>
						<input type="hidden" name="return" value="{{ view.return_page }}"/>
						<input type="hidden" name="id" value="{{ view.contact.slug }}"/>
						{{ jhtml("form.token") }}
					</div>

				</div>
				<div class="pie-feedback-form-columns-hspace"></div>
			</div>

		</div>
	</div>

<!--
	<div class="pie-feedback-form-message">
		<a href="/feedback" class="pie-feedback-form-message-content">
			<div class="pie-feedback-form-message-text">
				<div class="pie-feedback-form-message-image">
					<img src="./templates/pistacja/images/note.png"/>
				</div>
				<strong>Opisz jak wykorzystujesz Pi-stację na lekcjach</strong>
			</div>
			<button class="bubble-button slim dark pie-feedback-form-message-link">
				<span>Wypełnij formularz</span>
				<i class="pie-icon-right-arrow-18"></i>
			</button>
		</a>
		<button class="pie-icon-close-18" data-close="true"></button>
	</div>
	-->
