{% set displayCovers = params.get("show_description_image") %}
{% set showTitles = params.get("show_title") %}

<!-- BLOG PREVIEW -->
<div class="pie-content">
  
  {{ jposition("newsletter") }}

  <div class="pie-blog">
    {% for item in lead_items %}
    {% set images = item.images|json_decode %}
    {% set articleCover = images.image_intro %}
    {% set articleUrl = jroute("index.php?view=article&catid="~ category.id ~ "&id=" ~ item.id) %}

      <div class="pie-blog-preview">
        {% if (displayCovers and articleCover) %}
          <a href="{{ articleUrl }}" class="pie-blog-preview-cover">
            <img src="{{ articleCover }}" alt="article-cover">
          </a>
        {% endif %}

        <div class="pie-blog-preview-content">
          {% if (showTitles and articleCover) %}
            <h1 class="pie-blog-preview-content-title">
              <a href="{{ articleUrl }}">
                {{ item.title }}
              </a>
            </h1>
          {% endif %}

          {{ item.introtext|raw }}
        </div>
      </div>

    {% endfor %}
  </div>

  <!-- PAGINATION -->

  {% if (params.def("show_pagination", 1) == 1 or params.get("show_pagination") == 2) and pagination.get("pages.total") > 1 %}
    <div class="pie-pagination">      
      {{ pagination.getPagesLinks()|raw }}
    </div>
  {% endif %}

</div>
