{% do jdoc.addScript("https://www.youtube.com/player_api") %}
{% do jdoc.addScript("https://h5p.pistacja.tv/wp-content/plugins/h5p/h5p-php-library/js/h5p-resizer.js") %}
{% do jdoc.addScript(jhash("templates/pistacja/modules/player.js")) %}
{% do jdoc.addStyleSheet(jhash("templates/pistacja/css/player.css")) %}

{% set haveNoPlaylist = item.playlist|length == 0 %}

<div class="pie-content pie-video-player stack">

  {# HEADER #}
  
  <div class="stack">  
    <div class="stack --small">
      <h1 class="KGSolid font-2xl text-green">{{ item.item_title }}</h1>
      <strong>
        <a href="{{ item.playlist_info.route }}" class="as-text underline--animated green">
          Playlista: {{ item.playlist_info.item_title }}
        </a>        
      </strong>
    </div>    
  </div>

  {# UA TAGLINE TOP #}
  
  {% if item.UASubtitles.value == TRUE %}
    <p class="font-sm text-gray rail --small show-on-mobile">
      <img src="https://pistacja.tv/templates/pistacja/images/icons/ua.svg">
      <span>{{ item.UASubtitles.text }}</span>
    </p>    
  {% endif %}

  <hr class="space">


  {# MEDIA CONTAINER #}

  <div class="stack --small">
    <div class="pie-player-wrapper">

      {# PLAYER #}
            
      <div class="pie-new-player">
        {% if item.type_id == "3" %}    
          <div>  
            <button class="bubble-button green font-xl" data-pie-modal-trigger="exercises">Pokaż zadanie</button>
          </div>  				  
			  {% else %}
          <div id="yt-video" data-videoid="{{ item.yt_id }}"></div>      
        {% endif %}
      </div>  

      {# SIDEBAR CURRENR #}

      <div class="pie-player-playlist stack">

        <h3 tabindex="0">Playlista</h3>

        <ul id="pie-player-playlist" class="pie-rounded-list" tabindex="0">
          <div class="mobile-header rail --h-spread --v-start --space-i">
            <span class="KGSolid font-xl">Playlista</span>    
            <button>
              <svg class="icon sm">
                <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-close" />
              </svg>
            </button>
          </div>

        {% for video in item.playlist %}
          {% set classes = "pie-player-playlist-item" ~ (video.type_id == "3" ? " exercise" : "") ~ (video.id == item.id ? " active" : "") %}          
          <li class="{{video.id == item.id ? "active" : ""}}">
            <a class="as-text rail" href="{{ video.route }}" title="{{ video.item_title }}">

              {% if video.type_id == "3" %}
                <svg class="icon" width="1.4em" height="1.4em">
                  <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#pl-task"/>              
                </svg>
              {% else %}
                <svg class="icon" width="1.4em" height="1.4em">
                  <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#pl-play"/>              
                </svg>
              {% endif %}
              
              <div class="stack --medium">
                <span>{{ video.item_title }}</span>
                <span class="pie-badge">{{ video.duration }}</span>
              </div>
            </a>
          </li>               
        {% endfor %}          
        </ul>          
      </div>
    </div>
  </div>

  {# UA TAGLINE BOTTOM #}
  
  {% if item.UASubtitles.value == TRUE %}
    <p class="font-sm text-gray rail --small hide-on-mobile">
      <img src="https://pistacja.tv/templates/pistacja/images/icons/ua.svg">
      <span>{{ item.UASubtitles.text }}</span>
    </p>    
  {% endif %}

  <hr class="space hide-on-mobile">

  
  {# TABS NAVIGATION #}

  <div class="pie-tabs">            
    <button data-tab-target="info" class="active pie-tab-button">Info</button>      
    {% if item.required|length > 0 %}
      <button data-tab-target="prep" class="pie-tab-button">Przygotowanie</button>
    {% endif %}
    <button data-tab-target="share">Udostępnianie</button>
    {% if item.transcription|length > 0 %}
      <button data-tab-target="transcript" class="pie-tab-button">Transkrypcja</button>
    {% endif %}
    {% if item.type_id != "3" %}
      <button data-tab-target="downloads" class="pie-tab-button">Do pobrania</button>
    {% endif %}
    {% if item.exercises|length > 0 %}
      <button data-tab-target="exercises" class="pie-tab-button">Ćwiczenia</button>
    {% endif %}
    {% if item.additional_materials|length > 0 %}
      <button data-tab-target="resources" class="pie-tab-button">Dodatkowe</button>
    {% endif %}    
    
    <div class="pie-social-media-tabs"> 
      <a href="https://pistacja.tv/podstawa-programowa/{{ item.subject.subject_title|lower }}" class="{{ item.subject.subject_title|lower }} subject-menu-button" title="{{ item.subject.subject_title }}"></a> 
      <a href="https://www.facebook.com/PistacjaMatematyka/" target="_blank" rel="noopener noreferrer" class="fb-menu-button">Facebook</a>
      <a href="https://www.youtube.com/c/pistacjamatematyka" target="_blank" rel="noopener noreferrer" class="yt-menu-button">YouTube</a>
    </div>
  </div>


  {# SOCLIALMEDIA BAR #}
  
  <div class="pie-social-media">    
    <a href="{{ item.subject.FBurl }}" target="_blank" rel="noopener noreferrer" class="fb-menu-button">Facebook</a>
    <a href="{{ item.subject.YTurl }}" target="_blank" rel="noopener noreferrer" class="yt-menu-button">YouTube</a>
    {% if item.subject.CCurl %}
      <a href="{{ item.subject.CCurl }}" class="{{ item.subject.subject_title|lower }} subject-menu-button" title="{{ item.subject.subject_title }}"></a>
    {% endif %}
  </div>
  
  {# TABS CONTENT #}

  <div class="pie-tabs-container">

    {# INFO #}
    
    <div data-tab="info" class="stack --large --space-i active">

      <div class="stack">
        <div class="rail --h-spread --v-start">
          <h3 class="KGSolid font-xl">{{ jtext(item.type_id == "3" ? "COM_VIDEOS_SITE_EXERCISES_PRE_DESC" : "COM_VIDEOS_SITE_PRE_DESC") }}</h3>    
          <button data-tab-close="true" class="pie-tabs-hide-on-desktop">
            <svg class="icon sm">
              <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-close" />
            </svg>
          </button>
        </div>

        {# DESCRIPTION #}
        
        <div class="pie-tabs-info">
          {{ article.text|raw }}
        </div>
			</div>

      {# CURRICULUM CODES #}

      {% if item.codes %}				
      <div class="stack --medium">
        <h4 class="KGSolid">Podstawa programowa</h4>
        <div class="rail-wrap --space-i">
        {% for code in item.codes %}
          <button data-uspp-id="{{ code.id }}" class="cc-button">{{ code.ppp_title }}</button>
        {% endfor %}
        </div>
      </div>
			{% endif %}

			{# AUTHORS & RESPURCES #}
			
			<div class="stack --medium">
			  <h4 class="KGSolid">Autorzy i materiały</h4>
        <div class="rail-wrap --large --space-i">
          <button class="as-text underline--animated green" data-pie-modal-trigger="authors">Lista wszystkich autorów</button>
          <button class="as-text underline--animated green" data-pie-modal-trigger="resources">Lista materiałów wykorzystanych w filmie</button>
        </div>
			</div>
      
    </div>
    
    {# PREP #}

    <div data-tab="prep" class="stack --large --space-i">

      <div class="stack --zero">
        <div class="rail --h-spread --v-start">
          <h3 class="KGSolid font-xl">{{ jtext("COM_VIDEOS_PLAYER_REQUIRED_HEADER") }}</h3>    
          <button data-tab-close="true" class="pie-tabs-hide-on-desktop">
            <svg class="icon sm">
              <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-close" />
            </svg>
          </button>
        </div>

        <div class="text-gray">
          {{ jtext("COM_VIDEOS_PLAYER_REQUIRED_DESC") }}
        </div>
      </div>

      <div class="grid">
      {% for required in item.required %}
        <a href="{{ required.route }}" title="{{ required.item_title }}" class="{{ item.subject.subject_title|lower }} pie-thumbnail">
          <img src="{{ required.item_image }}" alt="{{ required.item_title }}">
        </a>
      {% endfor %}
      </div>
  
  
    </div>

    {# SHARE #}

    <div data-tab="share" class="stack --large --space-i">

      <div class="stack --zero">
        <div class="rail --h-spread --v-start">
          <h3 class="KGSolid font-xl">Udostępnianie w zewnętrznych narzędziach</h3>    
          <button data-tab-close="true" class="pie-tabs-hide-on-desktop">
            <svg class="icon sm">
              <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-close" />
            </svg>
          </button>
        </div>

        <div class="text-gray">
          Korzystając z poniższych funkcjonalności możesz dodać ten zasób do swoich narzędzi.
        </div>
      </div>
      
			<div class="pie-tabs-share rail-wrap --h-spread">      
        {% set videoUrl = "" %}
        {% for video in item.playlist %} 
          {% if video.id == item.id %}
            {% set videoUrl = video.route %}             
          {% endif %} 
        {% endfor %}

        <div class="stack">
          <h4>Kliknij w ikonkę, aby udostępnić ten zasób</h4>
          <div class="rail-wrap share-button-row">
            <a class="share-button" href="https://classroom.google.com/share?url={{ videoUrl }}" target="_blank" >
              <svg class="icon xl">
                <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#sm-classroom" />
              </svg>
              <span>Google Classroom</span>
            </a>

            <a class="share-button" href="https://teams.microsoft.com/share?href={{ videoUrl }}" target="_blank">
              <svg class="icon xl">
                <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#sm-teams" />
              </svg>
              <span>Microsoft Teams</span>
            </a>
          </div>
        </div>
        
        <div class="stack">
          <h4>Kliknij w ikonkę, aby skopiować link do tego zasobu</h4>
          <div class="rail-wrap share-button-row">
            <button class="share-button" data-copy="{{ videoUrl }}">
             <svg class="icon xl">
                <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#sm-copy" />
              </svg>
              <span>Link do tej strony</span>
            </button>	
            
            {% if item.ex_type|length == 0 %}
            <button class="share-button" data-copy="https://www.youtube.com/embed/{{ item.yt_id }}">
             <svg class="icon xl">
                <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#sm-yt" />
              </svg>
              <span>Link do YouTube</span>
            </button>	
            {% endif %}		
			    </div>
			  </div>
			</div>

    </div>


    {# TRANSCRIPT #}
    
    <div data-tab="transcript" class="stack --large --space-i">

      <div class="stack --zero">
        <div class="rail --h-spread --v-start">
          <h3 class="KGSolid font-xl">{{ jtext("COM_VIDEOS_PLAYER_TRANSCRIPTION_HEADER") }}</h3>    
          <button data-tab-close="true" class="pie-tabs-hide-on-desktop">
            <svg class="icon sm">
              <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-close" />
            </svg>
          </button>
        </div>

        <div class="text-gray">
          {{ jtext("COM_VIDEOS_PLAYER_TRANSCRIPTION_DESC") }}
        </div>
      </div>

      <div class="pie-tabs-transcript">        
      {% for entry in item.transcription %}
        <a class="pie-transcript-link" href="#seek?time={{entry.time}}">{{ entry.text }}</a>
      {% endfor %}
      </div>
  			
    </div>

    {# DOWNLOADS #}

    <div data-tab="downloads" class="stack --large --space-i">

      <div class="stack --zero">
        <div class="rail --h-spread --v-start">
          <h3 class="KGSolid font-xl">{{ jtext("COM_VIDEOS_PLAYER_DOWNLOAD_HEADER") }}</h3>    
          <button data-tab-close="true" class="pie-tabs-hide-on-desktop">
            <svg class="icon sm">
              <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-close" />
            </svg>
          </button>
        </div>

        <a class="as-text text-gray --space-b" href="https://creativecommons.org/licenses/by/4.0/deed.pl" target="_blank">
          {{ jtext("COM_VIDEOS_PLAYER_DOWNLOAD_DESC") }}
        </a>

         <a href="https://creativecommons.org/licenses/by/4.0/deed.pl" target="_blank">
          <img class="cc-by-badge" src="./templates/pistacja/images/ccby.png" alt="cc-by"/>
        </a>
      </div>
    
      <div class="pie-tabs-downloads rail-wrap --large">
        {% for item in download %}
          {% if item.url matches '{.+\?file=.+}' %}
            <a class="as-text text-uppercase chalk-button--thin" href="{{ item.url }}" target="_blank">                
              {{ item.name }}                
            </a>
          {% endif %}
        {% endfor %}
      </div>				

    </div>


    {# EXERCISES #}

    <div data-tab="exercises" class="stack --large --space-i">

      <div class="stack --zero">
        <div class="rail --h-spread --v-start">
          <h3 class="KGSolid font-xl">{{ jtext("COM_VIDEOS_PLAYER_EXERCISES_HEADER") }}</h3>    
          <button data-tab-close="true" class="pie-tabs-hide-on-desktop">
            <svg class="icon sm">
              <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-close" />
            </svg>
          </button>
        </div>

        <div class="text-gray --space-b">
          {{ jtext("COM_VIDEOS_PLAYER_EXERCISES_DESC") }}
        </div>
      </div>

      <div class="grid">
        {# Make it available for JavaScript #}
        {% set ex_video = "window.pie_video_exercises = {};" %}
        {% set path = juri.getPath() %}
        {% for exercise in item.exercises %}
          {# Create URL for this exercise #}
          {% set ex_url = path ~ "?exercise=" ~ exercise.item_num %}
          {# Create URL for ifreame embed #}
          {% set ex_embed_url = exercise.ex_type|length != 0
              ? exercise.ex_type.type_url ~ exercise.ex_type.ex_id
              : exercise.yt_id
          %}

          <a href="{{ ex_url }}" title="{{ exercise.item_title }}" class="{{ item.subject.subject_title|lower }} pie-thumbnail" data-label="{{ exercise.item_title }}">
            <img src="{{ exercise.item_image }}" alt="{{ exercise.item_title }}">
          </a>

          {% set ex_video = ex_video ~
            "window.pie_video_exercises['"~ exercise.item_num ~"'] = {" ~
              "url: '"~ ex_embed_url ~"'," ~
              "video: '"~ item.item_title ~"'," ~
              "title: '"~ exercise.item_title ~"'," ~
            "};"
          %}
        {% endfor %}
        {% do jdoc.addScriptDeclaration(ex_video) %}
      </div>
     
    </div>
    

    {# RESOURCES #}

    <div data-tab="resources" class="stack --large --space-i">
      <div class="stack --zero">
        <div class="rail --h-spread --v-start">
          <h3 class="KGSolid font-xl">{{ jtext("COM_VIDEOS_PLAYER_ADDITIONAL_HEADER") }}</h3>    
          <button data-tab-close="true" class="pie-tabs-hide-on-desktop">
            <svg class="icon sm">
              <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-close" />
            </svg>
          </button>
        </div>

        <div class="text-gray --space-b">
          {{ jtext("COM_VIDEOS_PLAYER_ADDITIONAL_DESC") }}
        </div>
      </div>

      <div>
        {{ item.additional_materials|raw }}
      </div>
    </div>

  </div>

</div>

<hr class="space">


{# MODALS #}

{# Uspp Modal #}
<div id="uspp-modal" data-pie-modal="uspp" class="pie-player-modal"></div>

{# Authors Modal #}
<div id="authors-modal" data-pie-modal="authors" class="pie-player-modal">
  <h3 class="KGSolid font-xl rail --h-spread --v-start">
    <span>Lista wszystkich autorów</span>
    <button class="ghost" data-pie-modal-close="true">
      <svg class="icon sm --space-t">
        <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-close">
      </svg>
    </button>
  </h3>
  <hr class="space small">
  <div class="scroll-content stack --medium">
  {% if item.RDF.scenario %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_SCENARIO") }}: </strong> 
      {{ item.RDF.scenario }} 
    </p> 
  {% endif %} 
  {% if item.RDF.tutor %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_TUTOR") }}: </strong> 
      {{ item.RDF.tutor }} 
    </p> 
  {% endif %} 
  {% if item.RDF.consultant %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_CONSULTANT") }}: </strong> 
      {{ item.RDF.consultant }} 
    </p> 
  {% endif %} 
  {% if item.RDF.artwork %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_ARTWORK") }}: </strong> 
      {{ item.RDF.artwork }} 
    </p> 
  {% endif %} 
  {% if item.RDF.materials %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_MATERIALS") }}: </strong> 
      {{ item.RDF.materials }} 
    </p> 
  {% endif %} 
  {% if item.RDF.qc %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_QC") }}: </strong> 
      {{ item.RDF.qc }} 
    </p> 
  {% endif %} 
  {% if item.RDF.intro %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_INTRO") }}: </strong> 
      {{ item.RDF.intro }} 
    </p> 
  {% endif %} 
  {% if item.RDF.photos %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_PHOTOS") }}: </strong> 
      {{ item.RDF.photos }} 
    </p> 
  {% endif %} 
  {% if item.RDF.photosAsist %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_PHOTOS_ASIST") }}: </strong> 
      {{ item.RDF.photosAsist }} 
    </p> 
  {% endif %} 
  {% if item.RDF.editorial %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_EDITORIAL") }}: </strong> 
      {{ item.RDF.editorial }} 
    </p> 
  {% endif %} 
  {% if item.RDF.subtitles %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_SUBTITLES") }}: </strong> 
      {{ item.RDF.subtitles }} 
    </p> 
  {% endif %} 
  {% if item.RDF.assembly %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_ASSEMBLY") }}: </strong> 
      {{ item.RDF.assembly }} 
    </p> 
  {% endif %} 
  {% if item.RDF.experiments %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_EXPERIMENTS") }}: </strong> 
      {{ item.RDF.experiments }} 
    </p> 
  {% endif %} 
  {% if item.RDF.animations %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_ANIMATIONS") }}: </strong> 
      {{ item.RDF.animations }} 
    </p> 
  {% endif %} 
  {% if item.RDF.audio %} 
    <p> 
      <strong>{{ jtext("COM_VIDEOS_YT_DESC_AUTHORS_AUDIO") }}: </strong> 
      {{ item.RDF.audio }} 
    </p> 
  {% endif %} 
  </div>

  <hr class="space">

  <h4>Produkcja</h4>
  {% for producer in item.authors.producer %}
    <a href="{{ producer.author_url }}" target="_blank" class="pie-producer">
      <img src="{{ producer.author_avatar }}" alt="{{ producer.author_name }}" style="max-width: 12rem;">
    </a>
  {% endfor %}
</div>

{# Resources Modal #}
<div id="resources-popup" data-pie-modal="resources" class="pie-player-modal">
  <h3 class="KGSolid font-xl rail --h-spread --v-start">
    <span>Lista materiałów wykorzystanych w filmie</span>
    <button class="ghost" data-pie-modal-close="true">
      <svg class="icon sm --space-t">
        <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-close">
      </svg>
    </button>
  </h3>

  <hr class="space small">
  <div class="scroll-content stack --medium">
    {{ item.license_text|raw }}
  </div>
</div>

{# Exercise modal #}
{% set ex_url = item.ex_type|length != 0 ? item.ex_type.type_url ~ item.ex_type.ex_id ~ "&url=" ~ juri.getPath() : ""%}
<div class="pie-player-exercises-modal" data-pie-modal="exercises" data-ex-url="{{ ex_url }}" data-ex-title="{{ item.item_title }}" ></div>


{# CREATIVEWORK METADATA #}

<div itemtype="https://schema.org/CreativeWork" itemscope>
  <meta itemprop="name" content="{{ item.item_title }}"/>
  <meta itemprop="isPartOf" content="{{ item.playlist_info.item_title }}"/>
  <meta itemprop="description" content="{{ item.RDFdescription }}"/>
  <meta itemprop="uploadDate" content="{{ item.created }}"/>
  <meta itemprop="thumbnailUrl" content="{{ item.item_image }}"/>
  <meta itemprop="about" content="{{ item.subject_title }}"/>
  <meta itemprop="url" content="{{ current }}"/>
  <meta itemprop="duration" content="{{ item.duration }}"/>
  <meta itemprop="timeRequired" content="{{ item.time_required }}"/>
  <meta itemprop="dateCreated" content="{{ item.created }}"/>
  <meta itemprop="keywords" content="{{ item.tags }}"/>
  <meta itemprop="typicalAgeRange" content="{{ item.typical_age_range }}"/>
  <meta itemprop="educationalUse" content="{{ item.educational_use }}"/>
  <meta itemprop="educationalRole" content="{{ item.educational_role }}"/>
  <meta itemprop="interactivityType" content="{{ item.interactivity_type }}"/>
  <meta itemprop="author" content="{{ item.RDF.author }}"/>
  <meta itemprop="editor" content="{{ item.RDF.editor }}"/>
  <meta itemprop="funder" content="{{ item.RDF.funder }}"/>
  <meta itemprop="producer" content="{{ item.RDF.producer }}"/>
  <meta itemprop="publisher" content="{{ item.RDF.publisher }}"/>
  <meta itemprop="sourceOrganization" content="{{ item.RDF.sourceOrganization }}"/>
  <meta itemprop="sponsor" content="{{ item.RDF.sponsor }}"/>
  <meta itemprop="learningResourceType" content="{{ item.learning_resource_type }}"/>
  <meta itemprop="fileFormat" content="{{ item.file_format }}"/>
  <meta itemprop="inLanguage" content="{{ item.in_language }}"/>
  <meta itemprop="license" content="{{ item.license }}"/>
  <meta itemprop="accessibilityFeature" content="{{ item.accessibility_feature }}"/>
  
  {% for ppp in item.codes %}  
  <div itemtype="https://schema.org/AlignmentObject" itemscope itemprop="educationalAlignment">
    <meta itemprop="alignmentType" content="{{ item.alignment_type }}"/>
    <meta itemprop="educationalFramework" content="{{ item.educational_framework }}"/>
    <meta itemprop="targetName" content="{{ ppp.ppp_code }}"/>
    <meta itemprop="targetDescription" content="{{ ppp.ppp_name }}"/>
    <meta itemprop="targetUrl" content="https://uspp.pl/ability/{{ ppp.ppp_code }}/"/>
  </div>
  {% endfor %}
  
  <div itemtype="https://schema.org/VideoObject" itemscope itemprop="video">
    <meta itemprop="actor" content="{{ item.RDF.actor }}"/>
    <meta itemprop="director" content="{{ item.RDF.director }}"/>
  </div>
  <div itemtype="pistacjaVideo" itemscope itemprop="pistacja">
    <meta itemprop="pistacjaId" content="{{ item.item_num }}"/>
    <meta itemprop="pistacjaUrl" content="https://youtube.com/?watch={{ item.yt_id }}"/>
    <meta itemprop="pistacjaTutor" content="{{ item.RDF.tutor }}"/>
    <meta itemprop="pistacjaScenario" content="{{ item.RDF.scenario }}"/> 
    <meta itemprop="pistacjaConsultant" content="{{ item.RDF.consultant }}"/>
    <meta itemprop="pistacjaArtwork" content="{{ item.RDF.artwork }}"/>
    <meta itemprop="pistacjaMaterials" content="{{ item.RDF.materials }}"/>
    <meta itemprop="pistacjaExperiments" content="{{ item.RDF.experiments }}"/>
    <meta itemprop="pistacjaAnimations" content="{{ item.RDF.animations }}"/>
    <meta itemprop="pistacjaQC" content="{{ item.RDF.qc }}"/>
    <meta itemprop="pistacjaAssembly" content="{{ item.RDF.assembly }}"/> 
    <meta itemprop="pistacjaIntro" content="{{ item.RDF.intro }}"/> 
    <meta itemprop="pistacjaPhotos" content="{{ item.RDF.photos }}"/> 
    <meta itemprop="pistacjaPhotosAsist" content="{{ item.RDF.photosAsist }}"/> 
    <meta itemprop="pistacjaEditorial" content="{{ item.RDF.editorial }}"/> 
    <meta itemprop="pistacjaSubtitles" content="{{ item.RDF.subtitles }}"/> 
    <meta itemprop="pistacjaAudio" content="{{ item.RDF.audio }}"/>
    <meta itemprop="pistacjaPlaylist" content="{{ item.playlists }}"/>
    <meta itemprop="pistacjaExercise" content="{{ item.exercise }}"/>
    <meta itemprop="pistacjaDepends" content="{{ item.requireds }}"/>
    <meta itemprop="pistacjaRelated" content="{{ item.relateds }}"/>
  </div>
</div>

{# <pre style="overflow:auto">
{{dump(item)}}
</pre> #}