{% do jdoc.addScript(jhash("templates/pistacja/modules/playlist.js")) %}
{% do jdoc.addStyleSheet(jhash("templates/pistacja/css/playlist.css")) %}

<div class="pie-content">
	<div class="pie-playlist">

		<div class="pie-playlist-intro">

			<h1 class="pie-playlist-intro-header">
				{{item.item_title}}
			</h1>

			<div class="pie-playlist-intro-description">
				{{ item.item_description|raw }}
			</div>

			<img alt="okładka" class="intro-cover" src="./templates/pistacja/images/playlist.svg">
			<img alt="okładka" class="intro-cover-small" src="./templates/pistacja/images/playlist-small.svg">

			<a href="{{ item.playlist[0].route }}" class="blank-link chalk-button--thin pie-playlist-intro-action">
				OBEJRZYJ FILMY
			</a>
		</div>

		<div class="pie-tabs pie-h-space pie-playlist-tabs">
			<button class="underline--animated green thick active" data-rct-toggle="active" data-rct-trigger="video-card">
				Zasoby
				<strong class="pie-label-counter">{{ item.playlist|length }}</strong>
			</button>
			<button class="underline--animated green thick" data-rct-toggle="active" data-rct-trigger="prep-card">
				Materiały przygotowujące
				<strong class="pie-label-counter">{{ item.required|length }}</strong>
			</button>
			<button data-rct-trigger="base-card" data-rct-toggle="active" class="underline--animated green thick">
				Podstawa programowa
			</button>
			{#
			      <button data-rct-trigger="teacher-card" data-rct-toggle="active" class="underline--animated green thick">
			        Dla nauczyciela <strong class="pie-label-counter">{{ 0 }}</strong>
			      </button>
			      #}
		</div>

		<!-- TABS CONTENT -->
		<div
			class="pie-playlist-content">

			<!-- VIDEOS - Mobile Button -->
			<div class="pie-mobile-tab-btn animated" data-rct-trigger="video-card">
				<span>
					<i class="material-icons">play_arrow</i>
					Zasoby
				</span>
				<strong class="pie-label-counter">{{ item.playlist|length }}</strong>
			</div>

			<!-- VIDEOS -->
			<div class="pie-playlist-tab active" data-rct-target="video-card">
				{% for video in item.playlist %}
					{% if video.type == "Zadanie" %}
						<a href="{{ video.route }}" class="pie-playlist-exercise">
							<i class="pie-time pie-icon-task-18"></i>
							<h4>{{ video.item_title }}<strong class="time">Zadanie</strong>
							</h4>
						</a>
					{% else %}
						<a href="{{ video.route }}" class="pie-playlist-video">
							<i class="pie-time pie-icon-play-18"></i>
							<h4>{{ video.item_title }}<strong class="time">{{ video.duration }}</strong>
							</h4>
						</a>
					{% endif %}
				{% endfor %}
			</div>


			<!-- PREPARATION - Mobile Button -->
			<div class="pie-mobile-tab-btn animated" data-rct-trigger="prep-card">
				<span>
					<i class="material-icons">bookmarks</i>
					Materiały przygotowujące
				</span>
				<strong class="pie-label-counter">{{ item.required|length }}</strong>
			</div>

			<!-- PREPARATION -->
			<div class="pie-playlist-tab content" data-rct-target="prep-card">
				<h3>{{ jtext("COM_VIDEOS_PLAYLIST_PREPARATION_HEADER") }}</h3>
				<div class="pie-note">{{ jtext("COM_VIDEOS_PLAYLIST_PREPARATION_DESC") }}</div>

				<hr class="space">

				<div class="pie-playlist-preparation-content">
					{% for required in item.required %}
						<a class="pie-playlist-preparation-link" href="{{ required.route }}" title="{{ required.item_title }}">
							<div class="pie-thumbnail {{ item.subject.subject_title|lower }}">
								<img src="{{ required.item_image }}" alt="{{ required.item_title }}">
							</div>
						</a>
					{% endfor %}
				</div>
			</div>

			<!-- BASE - Mobile Button -->
			<div class="pie-mobile-tab-btn animated" data-rct-trigger="base-card">
				<span>
					<i class="material-icons">local_library</i>
					Podstawa programowa
				</span>
			</div>

			<!-- BASE -->
			<div
				data-rct-target="base-card" class="pie-playlist-tab content">
				{# Breadcrumbs module #}
				{{jposition("breadcrumbs")}}
				<h4 class="subheader">
					Kody podstawy
				</h4>
				<div id="uspp-codes" class="pie-player-codes">
					{% for ppp in item.codes %}
						<button data-uspp-id="{{ppp.id}}" class="cc-button">{{ ppp.ppp_title }}</button>
					{% endfor %}
				</div>

				<hr class="space">

				<div
					id="uspp-popup" data-pie-modal="uspp" class="uspp-popup"><!-- DYNAMIC CURICULUM CODE DESCRIPTION -->
				</div>
			</div>


			<!-- TEACHER - Mobile Button -->
			{# <div class="pie-mobile-tab-btn animated" data-rct-trigger="teacher-card">
			                  				<span>
			                  					<i class="material-icons">supervisor_account</i> Dla nauczyciela
			                  				</span>
			                  				<strong class="pie-label-counter">{{ 0 }}</strong>
			                  			</div> -->
			
			                        <!-- TEACHER -->
			                        <!-- <div data-rct-target="teacher-card" class="pie-playlist-tab content">
			                          <h3>{{ jtext("COM_VIDEOS_PLAYLIST_TEACHER_HEADER") }}</h3>
			                          <div class="pie-note">{{ jtext("COM_VIDEOS_PLAYLIST_TEACHER_DESC") }}</div>
			                          <hr class="space">
			                          {{ item.additional_materials|raw }}
			                        </div> #}

		</div>
	</div>
	<hr class="space medium">
</div>
