{% set params = jregistry(template.params) %}
{% set favicon = template.baseurl ~ "/templates/" ~ template.template ~ "/favicon.ico" %}
{% set icon = template.baseurl ~ "/templates/" ~ template.template ~ "/images/pistacja.svg" %}
{% set logo = template.baseurl ~ "/templates/" ~ template.template ~ "/images/pi-stacja-logo.svg" %}
{% set tileImage = template.baseurl ~ "/templates/" ~ template.template ~ "/images/pistacja-270x270.png" %}
{% set appleTouchIcon = template.baseurl ~ "/templates/" ~ template.template ~ "/images/pistacja-180x180.png" %}

{# Include common JS #}
{% do jdoc.addScript(jhash("templates/pistacja/modules/main.js")) %}
{% do jdoc.addScript(jhash("templates/pistacja/modules/vendor.js")) %}

{# Include common CSS #}
{% do jdoc.addStyleSheet(jhash("templates/pistacja/css/main.css")) %}
{% do jdoc.addStyleSheet("https://fonts.googleapis.com/icon?family=Material+Icons") %}
{% do jdoc.addStyleSheet("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,600,700,800") %}

<!doctype html>
<html class="no-js" lang="pl">
	<head>
		<meta charset="utf-8">
		<meta content="0" http-equiv="Expires">
		<meta content="ie=edge" http-equiv="x-ua-compatible">
		<meta name="description" content="{{ jdoc.getMetaData("description") }}">
		<meta name="keywords" content="{{ jdoc.getMetaData("keywords") }}">
		<meta content="Katalyst Education" name="author">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" name="viewport"/>
		<meta name="msapplication-TileImage" content="{{ tileImage }}">

		<meta property="og:image:width" content="{{ jdoc.getMetaData("ogwidth") }}">
		<meta property="og:image:height" content="{{ jdoc.getMetaData("ogheight") }}">
		<meta property="og:image:type" content="{{ jdoc.getMetaData("ogmime") }}">
		<meta property="og:image" content="{{ jdoc.getMetaData("ogimage") }}">
		<meta property="og:description" content="{{ jdoc.getMetaData("description") }}">

		<meta content="#80b742" name="theme-color">

		<title>
			{{ template.getTitle() }}
		</title>

		<link rel="icon" href="{{ favicon }}" sizes="16x16"/>
		<link rel="shortcut icon" href="{{ favicon }}" type="image/vnd.microsoft.icon"/>
		<link rel="apple-touch-icon-precomposed" href="{{ appleTouchIcon }}"/>

		<jdoc:include type="head"/>

		{% if params.get("tracking") %}
			<!-- Google Tag Manager -->
			<script>
				(function (w, d, s, l, i) {
					w[l] = w[l] || [];
					w[l].push({"gtm.start": new Date().getTime(), event: "gtm.js"});
					var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
					j.async = true;
					j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
					f.parentNode.insertBefore(j, f);
					})(window, document, "script", "dataLayer", "GTM-T6CMF73");
								</script>
			<!-- End Google Tag Manager -->
		{% endif %}

		<!-- MathJax MML -->
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/mml-chtml.js"></script>

		{% for item in customitems %}
			{{ item | raw }}
		{% endfor %}
	</head>

	<body>
		<jdoc:include type="message"/>

		{% if params.get("tracking") %}
			<!-- Google Tag Manager (noscript) -->
			<noscript>
				<iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-T6CMF73" style="display:none;visibility:hidden" width="0"></iframe>
			</noscript>
			<!-- End Google Tag Manager (noscript) -->
		{% endif %}


		<!-- NAVIGATION -->
		<nav class="pie-top-navigation">

			<!-- MESSAGE -->
			<div class="pie-top-navigation-message">
				{{ jposition("navigation-message") }}
			</div>

			<div class="pie-top-navigation-wrapper">
				<!-- LOGO -->
				<a class="pie-logo" href="./">
					<img class="full-logo" src="{{ logo }}" alt="pi-stacja logo">
					<img class="icon" src="{{ icon }}" alt="pi-stacja icon">
				</a>

				<!-- CONTROLLS -->
				<div class="pie-top-navigation-controlls">

					<!-- MENU -->
					<div class="pie-top-navigation-menu" data-rct-target="main-menu">
						{{ jposition("navigation-menu") }}
            <div tabindex="0" role="button" aria-pressed="false" class="pie-opp-button">            
              <div class="pie-opp-popup">
                <span>
                  <span>Fundacja Katalyst Education, twórca Pi-stacji, jest organizacją pożytku publicznego. Możesz wesprzeć nas przekazując swój 1% podatku lub darowiznę.</span>
                  <a href="https://katalysteducation.org/donate" target="_blank" class="cta">WPŁAĆ</a>
                </span>
                <span>
                  <span>KRS: 0000558853</span>
                  <button class="copy-krs">SKOPIUJ</button>
                </span>
              </div>            
            </div>
					</div>

					<!-- SEARCHBOX -->
					{{ jposition("navigation-search") }}          

					<!-- MOBILE HAMBURGER -->
					<button class="pie-mobile-menu-button" data-rct-toggle="active" data-rct-trigger="main-menu">
            <svg class="icon md">
              <use href="./templates/pistacja/images/icons/pie-icons-sprite.svg#ui-menu"/>
            <svg>
          </button>
				</div>
			</div>

		</nav>

		<!-- CONTENT -->
		<jdoc:include type="component"/>

		<!-- ERROR MODAL -->
		<div data-pie-modal="pie-error-modal"></div>

		<!-- FOOTER -->
		<footer class="pie-footer">
			<div class="pie-footer-content">
				<span class="pie-copyrights">ⓒ
					{{ year }}
					Katalyst Education</span>
				{{ jposition("footer") }}
			</div>
		</footer>
	</body>
</html>
