{% do jdoc.addScript(jhash("templates/pistacja/modules/contact.js")) %}

<div class="pie-contact">
	<div class="pie-content">

		<div class="pie-contact-bubbles">
			<a href="./kontakt" class="pie-contact-bubbles-green active">
				<span>Zgłoś uwagi,<br/>podziel się swoją opinią</span>
			</a>
			<a href="./feedback" class="pie-contact-bubbles-yellow">
				<span>Opisz, jak wykorzystujesz<br/>Pi-stację na lekcjach</span>
			</a>
		</div>

		<form id="contact-form" class="contact__form" action="{{ jroute('index.php') }}" method="post">

			<h3 class="KGSolid">{{ jtext('COM_CONTACT_FORM_LABEL') }}</h3>
			<hr class="space">

			<div class="pie-input-container">
				<label for="jform_contact_name">{{ view.form.getLabel('contact_name')|raw }}</label>
				<input required class="pie-input" type="text" id="jform_contact_name" name="jform[contact_name]" placeholder="Wpisz swoje imię i nazwisko">
			</div>

			<div class="pie-input-container">
				<label for="jform_contact_email">{{ view.form.getLabel('contact_email')|raw }}</label>
				<input required class="pie-input" type="email" id="jform_contact_email" name="jform[contact_email]" placeholder="Wpisz swój adres e-mail">
			</div>

			<div class="pie-input-container">
				<label for="jform_contact_emailmsg">{{ view.form.getLabel('contact_subject')|raw }}</label>
				<input required class="pie-input" type="text" id="jform_contact_emailmsg" name="jform[contact_subject]" placeholder="Wpisz temat wiadomości" value="{{ url ? 'Zgłoszenie uwag do strony: \"' ~ url ~ '\"' }}">
			</div>

			<div class="pie-input-container">
				<label for="jform_contact_message-lbl">{{ view.form.getLabel('contact_message')|raw }}</label>
				<textarea class="pie-input" cols="30" rows="10" required id="jform_contact_message" name="jform[contact_message]"></textarea>
			</div>

      {# Newsletter #}      
      <div class="pie-input-container pie-newsletter">
        <hr class="space small">       
        <h3 class="KGSolid text-green">{{ jtext('PLG_CONTENT_FRESHMAILSUBSCRIBE_SUBSCRIBE_LABEL') }}</h3>
        <hr class="space small">   
        <div>Zaznacz przedmioty, dla których chcesz otrzymywać powiadomienia</div>
        <hr class="space">       

        <div class="subjects-grid">

          <label for="jform-subjects-math" class="subject-box">   
            <input id="jform-subjects-math" name="jform[subjects][math]" type="checkbox" value="1">            
            <img src="./templates/pistacja/images/icons/math.svg"/>         
            <span>Pi-stacja Matematyka</span>
          </label>

          <label for="jform-subjects-chem" class="subject-box">            
            <input id="jform-subjects-chem" name="jform[subjects][chem]" type="checkbox" value="1">            
            <img src="./templates/pistacja/images/icons/chem.svg"/>    
            <span>Pi-stacja Chemia</span>
          </label>

          <label for="jform-subjects-phys" class="subject-box">            
            <input id="jform-subjects-phys" name="jform[subjects][phys]" type="checkbox" value="1">            
            <img src="./templates/pistacja/images/icons/fiz.svg"/>    
            <span>Pi-stacja Fizyka</span>
          </label>

          <label for="jform-subjects-biol" class="subject-box">      
            <input id="jform-subjects-biol" name="jform[subjects][biol]" type="checkbox" value="1">            
            <img src="./templates/pistacja/images/icons/biol.svg"/>          
            <span>Pi-stacja Biologia</span>
          </label>
        </div>  
      </div>  

			{# RODO #}
			<div class="pie-input-container">
				<strong>{{ jtext("COM_CONTACT_RODO_TEXT")|raw }}</strong>
				<hr class="space small">
				<div class="pie-contact-rodo">
					<span class="pie-contact-toggle">
						<label class="pie-switch">
							<input id="consent" name="consent" type="checkbox" required>
							<span class="slider"></span>
						</label>
					</span>
					<div>
						{{ jtext("COM_CONTACT_CONSENT")|raw }}
					</div>
				</div>
			</div>

     
			<div class="pie-input-container">
				<div class="controls">{{ view.form.getInput('captcha')|raw }}</div>
			</div>

			<div class="pie-input-container">
				<button type="submit" class="pie-contact-submit-button bubble-button black cover" disabled>{{ jtext('COM_CONTACT_CONTACT_SEND') }}</button>
				<input type="hidden" name="option" value="com_contact"/>
				<input type="hidden" name="task" value="contact.submit"/>
				<input type="hidden" name="return" value="{{ view.return_page }}"/>
				<input type="hidden" name="id" value="{{ view.contact.slug }}"/>
				{{ jhtml("form.token") }}
			</div>

		</form>
	</div>
</div>
