{% do jdoc.addScript("https://www.youtube.com/player_api") %}
{% do jdoc.addScript(jhash("templates/pistacja/modules/player.js")) %}
{% do jdoc.addStyleSheet(jhash("templates/pistacja/css/player.css")) %}

{# VIEW: VIDEO PLAYER #}
<div
	class="pie-content">

	{# Video & Playlist #}
	<div class="pie-player">
		<div class="pie-player-embed">
			{% if item.type_id == "3" %}
				<div class="pie-player-placeholder yellow">
					<div>
						Przed tobą ćwiczenie:
					</div>
					<h1>{{ item.item_title }}</h1>
					<div>
						<button class="pie-player-playlist-button" data-pie-modal-trigger="playerex" data-exercise="{{ item.item_title }}">
							Zaczynajmy
						</button>
					</div>
				</div>
			{% else %}
				<div class="pie-player-placeholder">
					<div class="pie-loader" data-message="Trwa ładowanie...">
						<i class="pie-icon-seed-35"></i>
					</div>
					<h1>{{ item.item_title }}</h1>
				</div>
				<div class="pie-player-video">
					<div id="yt-video" data-videoid="{{ item.yt_id }}"></div>
				</div>
			{% endif %}
		</div>
		<div class="pie-player-spacer"></div>

		{# SOCLIALMEDIA BAR #}
		<div class="pie-social-media">
			<a href="{{ item.subject.FBurl }}" target="_blank" rel="noopener noreferrer" class="fb-menu-button">Facebook</a>
			<a href="{{ item.subject.YTurl }}" target="_blank" rel="noopener noreferrer" class="yt-menu-button">YouTube</a>
			<a href="{{ item.subject.CCurl }}" class="subject-menu-button {{ item.subject.subject_title|lower }}" title="{{ item.subject.subject_title }}"></a>
		</div>

		{# MOBILE SOCLIALMEDIA BAR #}
		<div class="pie-social-media-mobile">
			<a href="{{ item.subject.FBurl }}" target="_blank" rel="noopener noreferrer" class="fb-menu-button">Facebook</a>
			<a href="{{ item.subject.CCurl }}" class="subject-menu-button {{ item.subject.subject_title|lower }}" title="{{ item.subject.subject_title }}"></a>
			<a href="{{ item.subject.YTurl }}" target="_blank" rel="noopener noreferrer" class="yt-menu-button">YouTube</a>
		</div>

		{# Playlist mobile button #}
		<button class="pie-mobile-tab-btn animated" data-rct-trigger="playlist-tab">
			<span>
				<i class="material-icons">play_arrow</i>
				Playlista
			</span>
			<i class="pie-icon-down-arrow-18 rotate"></i>
		</button>

		{# Playlist #}
		<div id="pie-player-playlist" class="pie-player-playlist" data-rct-target="playlist-tab">
			{% for video in item.playlist %}
				{% set classes = "pie-player-playlist-item" ~ (video.type_id == "3" ? " exercise" : "") ~ (video.id == item.id ? " active" : "") %}
				{% set extype = video.ex_type|length == 0 ? "ZAD" : video.ex_type.type_title|slice(0, 4) %}
				<a class="{{ classes }}" href="{{ video.route }}" title="{{ video.item_title }}">
					<h3>{{ video.item_title }}</h3>
					{% if video.type_id == "3" %}
						<span class="pie-time pie-icon-task-25">{{ extype }}</span>
					{% else %}
						<span class="pie-time pie-icon-clock-25">{{ video.duration }}</span>
					{% endif %}
				</a>
			{% endfor %}
		</div>
	</div>

	{# Playlist Title #}
	{% if item.playlist_info %}
		<h6 class="pie-player-playlist-title">
			<strong>Playlista:</strong>
			<a href="{{ item.playlist_info.route }}" class="blank-link underline--animated green">{{ item.playlist_info.item_title }}</a>
		</h6>
	{% endif %}

	{# Tabs desktop controllers #}
	<div class="pie-player-desktopTabs">
		<div class="pie-rail">
			<button class="pie-desktop-tab-btn bubble-button dark slim liquid" data-rct-trigger="info-tab" data-rct-add="active">Info</button>
			<button class="pie-desktop-tab-btn bubble-button dark slim liquid" data-rct-trigger="prep-tab" data-rct-add="active">Przygotowanie</button>
			{% if item.transcription|length > 0 %}
				<button class="pie-desktop-tab-btn bubble-button dark slim liquid" data-rct-trigger="transcript-tab" data-rct-add="active">Transkrypcja</button>
			{% endif %}
			{% if item.type_id != "3" %}
				<button class="pie-desktop-tab-btn bubble-button dark slim liquid" data-rct-trigger="download-tab" data-rct-add="active">Do pobrania</button>
			{% endif %}
			{% if item.exercises|length > 0 %}
				<button class="pie-desktop-tab-btn bubble-button dark slim liquid" data-rct-trigger="exercises-tab" data-rct-add="active">Ćwiczenia</button>
			{% endif %}
			{% if item.additional_materials|length > 0 %}
				<button class="pie-desktop-tab-btn bubble-button dark slim liquid" data-rct-trigger="extras-tab" data-rct-add="active">Dodatkowe</button>
			{% endif %}
		</div>
		<div class="pie-social-media-tabs">
			<a href="{{ item.subject.FBurl }}" target="_blank" rel="noopener noreferrer" class="fb-menu-button">Facebook</a>
			<a href="{{ item.subject.YTurl }}" target="_blank" rel="noopener noreferrer" class="yt-menu-button">YouTube</a>
			<a href="{{ item.subject.CCurl }}" class="subject-menu-button {{ item.subject.subject_title|lower }}" title="{{ item.subject.subject_title }}"></a>
		</div>
	</div>

	{# Tabs content #}
	<div
		class="pie-player-tabsContainer">

		{# Info mobile button #}
		<button class="pie-mobile-tab-btn animated" data-rct-trigger="info-tab">
			<span>
				<i class="material-icons">info</i>
				Info
			</span>
			<i class="pie-icon-down-arrow-18 rotate"></i>
		</button>

		{# Info Tab #}
		<div
			class="pie-player-tab pie-player-info-tab" data-rct-target="info-tab">

			{# Description #}
			{% if item.item_description %}
				<h3>{{ jtext(item.type_id == "3" ? "COM_VIDEOS_SITE_EXERCISES_PRE_DESC" : "COM_VIDEOS_SITE_PRE_DESC") }}</h3>
				<hr class="space small">
				<div class="pie-player-tab-description">
					{{ article.text|raw }}
				</div>
			{% endif %}

			{# Curriculum #}
			{% if item.codes %}
				<hr class="space">
				<h4>Podstawa programowa</h4>
				<div id="uspp-codes" class="pie-player-tab-curriculum">
					{% for ppp in item.codes %}
						<button data-uspp-id="{{ppp.id}}" class="cc-button">{{ ppp.ppp_title }}</button>
					{% endfor %}
				</div>
			{% endif %}

			{# Uspp Modal #}
			<div id="uspp-modal" data-pie-modal="uspp" class="pie-player-modal"></div>

			{# Authors & Resources #}
			<hr class="space">
			<h4>Autorzy i materiały</h4>
			<div class="pie-player-tab-production">
				<button class="underline--animated green" data-pie-modal-trigger="authors">Lista wszystkich autorów</button>
				<button class="underline--animated green" data-pie-modal-trigger="resources">Lista materiałów wykorzystanych w filmie</button>
			</div>

			{# Authors Modal #}
			<div id="authors-modal" data-pie-modal="authors" class="pie-player-modal">
				<h3>
					<span>Lista wszystkich autorów</span>
					<i class="pie-icon-close-18" data-pie-modal-close="true"></i>
				</h3>
				<hr class="space small">
				{% if item.RDF.tutor %}
					<p>
						<strong>Tutor: </strong>
						{{ item.RDF.tutor }}</p>
				{% endif %}
				{% if item.RDF.consultant %}
					<p>
						<strong>Konsultacja: </strong>
						{{ item.RDF.consultant }}</p>
				{% endif %}
				{% if item.RDF.artwork %}
					<p>
						<strong>Grafika podsumowania: </strong>{{ item.RDF.artwork }}</p>
				{% endif %}
				{% if item.RDF.materials %}
					<p>
						<strong>Materiały: </strong>
						{{ item.RDF.materials }}</p>
				{% endif %}
				{% if item.RDF.qc %}
					<p>
						<strong>Korekta: </strong>
						{{ item.RDF.qc }}</p>
				{% endif %}
				{% if item.RDF.audio %}
					<p>
						<strong>Opracowanie dźwięku: </strong>
						{{ item.RDF.audio }}</p>
				{% endif %}

				<h4>Produkcja</h4>
				<hr class="space small">
				{% for producer in item.authors.producer %}
					<a href="{{ producer.author_url }}" target="_blank" class="pie-producer">
						<img src="{{ producer.author_avatar }}" alt="{{ producer.author_name }}">
					</a>
				{% endfor %}
			</div>

			{# Resources Modal #}
			<div id="resources-popup" data-pie-modal="resources" class="pie-player-modal">
				<h3>
					<span>Lista materiałów wykorzystanych w filmie</span>
					<i class="pie-icon-close-18" data-pie-modal-close="true"></i>
				</h3>
				<hr class="space small">
				{{ item.license_text|raw }}
			</div>
		</div>

		{# Preparation mobile button #}
		<button class="pie-mobile-tab-btn animated" data-rct-trigger="prep-tab">
			<span>
				<i class="material-icons">bookmarks</i>
				Przygotowanie
			</span>
			<i class="pie-icon-down-arrow-18 rotate"></i>
		</button>

		{# Preparation Tab #}
		<div class="pie-player-tab pie-player-prep-tab" data-rct-target="prep-tab">
			<h3>{{ jtext("COM_VIDEOS_PLAYER_REQUIRED_HEADER") }}</h3>
			<div class="pie-note">
				{{ jtext("COM_VIDEOS_PLAYER_REQUIRED_DESC") }}
			</div>
			<hr class="space">

			<div class="pie-player-tab-preparation">
				{% for required in item.required %}
					<a href="{{ required.route }}" title="{{ required.item_title }}" class="pie-thumbnail {{ item.subject.subject_title|lower }}">
						<img src="{{ required.item_image }}" alt="{{ required.item_title }}">
					</a>
				{% endfor %}
			</div>
		</div>

		{% if item.transcription|length > 0 %}
			{# Transcript mobile button #}
			<button class="pie-mobile-tab-btn animated" data-rct-trigger="transcript-tab">
				<span>
					<i class="material-icons">notes</i>
					Transkrypcja
				</span>
				<i class="pie-icon-down-arrow-18 rotate"></i>
			</button>

			{# Transcript Tab #}
			<div class="pie-player-tab pie-player-transcript-tab" data-rct-target="transcript-tab">
				<h3>{{ jtext("COM_VIDEOS_PLAYER_TRANSCRIPTION_HEADER") }}</h3>
				<div class="pie-note">
					{{ jtext("COM_VIDEOS_PLAYER_TRANSCRIPTION_DESC") }}
				</div>
				<hr class="space small">
				<div class="pie-player-tab-transcript">
					<div class="pie-player-tab-transcript-contentScroll">
						{% for entry in item.transcription %}
							<a class="pie-transcript-link" href="#seek?time={{entry.time}}">{{ entry.text }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}


		{% if item.type_id != "3" %}
			{# Downloads mobile button #}
			<button class="pie-mobile-tab-btn animated" data-rct-trigger="download-tab">
				<span>
					<i class="material-icons">get_app</i>
					Do pobrania
				</span>
				<i class="pie-icon-down-arrow-18 rotate"></i>
			</button>

			{# Downloads Tab #}
			<div class="pie-player-tab pie-player-download-tab" data-rct-target="download-tab">
				<h3>{{ jtext("COM_VIDEOS_PLAYER_DOWNLOAD_HEADER") }}</h3>
				<div class="pie-note">
					{{ jtext("COM_VIDEOS_PLAYER_DOWNLOAD_DESC") }}
				</div>
				<hr class="space small">
				<a href="https://creativecommons.org/licenses/by/4.0/deed.pl" target="_blank">
					<img class="pie-player-tab-downloads-ccby" src="./templates/pistacja/images/ccby.png" alt="cc-by"/>
				</a>
				<div class="pie-player-tab-downloads">
					{% for item in download %}
						<a class="underline--animated green thick" href="{{ item.url }}" target="_blank">
							Pobierz:
							{{ item.name }}
							<i class="material-icons">arrow_downward</i>
						</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}

		{% if item.exercises|length > 0 %}
			{# Exercises mobile button #}
			<button class="pie-mobile-tab-btn animated" data-rct-trigger="exercises-tab">
				<span>
					<i class="material-icons">folder</i>
					Ćwiczenia
				</span>
				<i class="pie-icon-down-arrow-18 rotate"></i>
			</button>

			{# Exercises Tab #}
			<div class="pie-player-tab pie-player-exercises-tab" data-rct-target="exercises-tab">
				<h3>{{ jtext("COM_VIDEOS_PLAYER_EXERCISES_HEADER") }}</h3>
				<div class="pie-note">
					{{ jtext("COM_VIDEOS_PLAYER_EXERCISES_DESC") }}
				</div>
				<hr class="space">
				<div
					class="pie-player-tab-exercises">
					{# Make it available for JavaScript #}
					{% set ex_video = "window.pie_video_exercises = {};" %}
					{% set path = juri.getPath() %}
					{% for exercise in item.exercises %}
						{# Create URL for this exercise #}
						{% set ex_url = path ~ "?exercise=" ~ exercise.item_num %}
						{# Create URL for ifreame embed #}
						{% set ex_embed_url = exercise.ex_type|length != 0
								? exercise.ex_type.type_url ~ exercise.ex_type.ex_id
								: exercise.yt_id
						%}

						<a href="{{ ex_url }}" title="{{ exercise.item_title }}" class="pie-thumbnail {{ item.subject.subject_title|lower }}" data-label="{{ exercise.item_title }}">
							<img src="{{ exercise.item_image }}" alt="{{ exercise.item_title }}">
						</a>

						{% set ex_video = ex_video ~
							"window.pie_video_exercises['"~ exercise.item_num ~"'] = {" ~
								"url: '"~ ex_embed_url ~"'," ~
								"video: '"~ item.item_title ~"'," ~
								"title: '"~ exercise.item_title ~"'," ~
							"};"
						%}
					{% endfor %}
					{% do jdoc.addScriptDeclaration(ex_video) %}
				</div>
			</div>
		{% endif %}

		{% if item.additional_materials|length > 0 %}
			{# Extras mobile button #}
			<button class="pie-mobile-tab-btn animated" data-rct-trigger="extras-tab">
				<span>
					<i class="material-icons">folder</i>
					Dodatkowe
				</span>
				<i class="pie-icon-down-arrow-18 rotate"></i>
			</button>

			{# Extras Tab #}
			<div class="pie-player-tab pie-player-extras-tab" data-rct-target="extras-tab">
				<h3>{{ jtext("COM_VIDEOS_PLAYER_ADDITIONAL_HEADER") }}</h3>
				<div class="pie-note">
					{{ jtext("COM_VIDEOS_PLAYER_ADDITIONAL_DESC") }}
				</div>
				<hr class="space">
				<div class="pie-player-tab-extras">
					{{ item.additional_materials|raw }}
				</div>
			</div>
		{% endif %}

		{# Exercise Modal #}
		{% if item.type_id == "3" %}
			{% set url = item.ex_type|length == 0 ? item.yt_id :item.ex_type.type_url ~ item.ex_type.ex_id %}
			<div class="pie-player-exercises-modal" data-pie-modal="playerex" title="{{ item.item_title }}">
				<div class="pie-player-exercises-modal-container">
					<div class="header">
						<h2>{{ item.item_title }}</h2>
						<div>
							<button class="pie-icon-fullscreen-18"></button>
							<button class="pie-player-exercises-modal-close pie-icon-close-18" data-pie-modal-close="true"></button>
						</div>
					</div>
					<div class="subheader">
						Ćwiczenie z playlisty:
						{{ item.playlist_info.item_title }}
					</div>
					<iframe src="{{ url }}" width="100%" height="100%" scrolling="yes" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		{%  endif %}

		{# In Player exercise modal #}
		<div class="pie-player-exercises-modal" data-pie-modal="exercises"></div>

	</div>
</div>
