<div class="pie-content" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="{{ jlang.getTag() }}"/>
	<div itemprop="articleBody" class="pie-article {{ item.params.pageclass_sfx }}">
		{% if params.get("show_title", 1) %}
			<h1 class="pie-article-title KGSolid" itemprop="name">
				{{ view.escape(item.title) }}
			</h1>
			<h3 class="pie-article-subtitle">Podstawa programowa</h3>
		{% endif %}
		{{ jposition("curriculum") }}
		{{ item.text|raw }}
	</div>
</div>
